/* BASICS */

.cm-editor {
  /* Set height, width, borders, and global font properties here */
  font-family: "Roboto Mono", monospace;
  height: 300px;
  color: #ffffff;
  direction: ltr;
}

/* PADDING */

.cm-editor.cm-lines {
  padding: 4px 0; /* Vertical padding around content */
}

.cm-editor pre.cm-line,
.cm-editor pre.cm-lineLike {
  padding: 0 4px; /* Horizontal padding of content */
}

.cm-editor .cm-scrollbarFiller,
.cm-editor .cm-gutterFiller {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.cm-editor .cm-gutters {
  background-color: #1e1e1e;
  white-space: nowrap;
}

.cm-editor .cm-lineNumbers {
}

.cm-editor .cm-lineNumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: center;
  color: #999;
  white-space: nowrap;
}

.cm-editor .cm-guttermarker {
  color: black;
}

.cm-editor .cm-guttermarkerSubtle {
  color: #999;
}

/* CURSOR */

.cm-editor .cm-cursor {
  border-left: 0.75rem solid silver;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.cm-editor div.cm-secondarycursor {
  border-left: 0.75rem solid gray;
}

.cm-editor .cm-fat-cursor .cm-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}

.cm-fat-cursor div.cm-cursors {
  z-index: 1;
}

.cm-fat-cursor .cm-line::selection,
.cm-fat-cursor .cm-line > span::selection,
.cm-fat-cursor .cm-line > span > span::selection {
  background: transparent;
}

.cm-fat-cursor .cm-line::-moz-selection,
.cm-fat-cursor .cm-line > span::-moz-selection,
.cm-fat-cursor .cm-line > span > span::-moz-selection {
  background: transparent;
}

.cm-fat-cursor {
  caret-color: transparent;
}
@-moz-keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}
@-webkit-keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}
@keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}

/* Can style cursor different in overwrite (non-insert) mode */
.cm-overwrite .cm-cursor {
}

.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.cm-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden;
}

.cm-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {
  color: blue;
}

.cm-s-default .cm-quote {
  color: #090;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-header,
.cm-strong {
  font-weight: bold;
}

.cm-em {
  font-style: italic;
}

.cm-link {
  text-decoration: underline;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: #708;
}

.cm-s-default .cm-atom {
  color: #219;
}

.cm-s-default .cm-number {
  color: #164;
}

.cm-s-default .cm-def {
  color: #00f;
}

.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {
}

.cm-s-default .cm-variable-2 {
  color: #05a;
}

.cm-s-default .cm-variable-3,
.cm-s-default .cm-type {
  color: #085;
}

.cm-s-default .cm-comment {
  color: #a50;
}

.cm-s-default .cm-string {
  color: #a11;
}

.cm-s-default .cm-string-2 {
  color: #f50;
}

.cm-s-default .cm-meta {
  color: #555;
}

.cm-s-default .cm-qualifier {
  color: #555;
}

.cm-s-default .cm-builtin {
  color: #30a;
}

.cm-s-default .cm-bracket {
  color: #997;
}

.cm-s-default .cm-tag {
  color: #170;
}

.cm-s-default .cm-attribute {
  color: #00c;
}

.cm-s-default .cm-hr {
  color: #999;
}

.cm-s-default .cm-link {
  color: #00c;
}

.cm-s-default .cm-error {
  color: #f00;
}

.cm-invalidchar {
  color: #f00;
}

.cm-composing {
  border-bottom: 2px solid;
}

/* Default styles for common addons */

div.cm-editor span.cm-matchingbracket {
  color: #0b0;
}
div.cm-editor span.cm-nonmatchingbracket {
  color: #a22;
}

.cm-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

.cm-activeline-background {
  background: #e8f2ff;
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.cm-editor {
  position: relative;
  overflow: hidden;
  background: #1e1e1e;
  height: 100%;
  font-family: "Menlo", sans-serif;
  padding: 10px;
}

.cm-editor .cm-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .cm-editor */
  margin-bottom: -50px;
  margin-right: -30px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}

.cm-editor .cm-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.cm-editor .cm-vscrollbar,
.cm-editor .cm-hscrollbar,
.cm-editor .cm-scrollbarFiller,
.cm-editor .cm-gutterFiller {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}

.cm-editor .cm-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cm-editor .cm-vscrollbar div:first-child {
  background: #1e1e1e;
}

.cm-editor .cm-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.cm-editor .cm-scrollbar-filler {
  right: 0;
  bottom: 0;
}

.cm-editor .cm-gutter-filler {
  left: 0;
  bottom: 0;
}

.cm-editor .cm-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}

.cm-editor .cm-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}

.cm-editor .cm-gutterWrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}

.cm-editor .cm-gutterBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}
/* .cm-editor .cm-gutterElement {
  position: absolute;
  cursor: default;
  z-index: 4;
} */
.cm-editor .cm-gutterWrapper ::selection {
  background-color: transparent;
}

.cm-editor .cm-gutterWrapper ::-moz-selection {
  background-color: transparent;
}

.cm-editor .cm-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}

.cm-editor pre.cm-line,
.cm-editor pre.cm-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}

.cm-wrap pre.cm-line,
.cm-wrap pre.cm-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.cm-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.cm-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.cm-widget {
}

.cm-rtl pre {
  direction: rtl;
}

.cm-code {
  outline: none;
  line-height: 28px;
}

/* Force content-box sizing for the elements where we expect it */
.cm-scroll,
.cm-sizer,
.cm-gutter,
.cm-gutters,
.cm-lineNumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.cm-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.cm-cursor {
  position: absolute;
  pointer-events: none;
}

.cm-measure pre {
  position: static;
}

div.cm-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.cm-dragcursors {
  visibility: visible;
}

.cm-focused div.cm-cursors {
  visibility: visible;
}

.cm-selected {
  background: #d9d9d9;
}

.cm-focused .cm-selected {
  background: #d7d4f0;
}

.cm-crosshair {
  cursor: crosshair;
}

.cm-line::selection,
.cm-line > span::selection,
.cm-line > span > span::selection {
  background: #d7d4f0;
}

.cm-line::-moz-selection,
.cm-line > span::-moz-selection,
.cm-line > span > span::-moz-selection {
  background: #d7d4f0;
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: 0.1px;
}

@media print {
  /* Hide the cursor when printing */
  .cm-editor div.cm-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: "";
}

/* Help users use markselection to safely style text background */
span.cm-selectedtext {
  background: none;
}

/*
http://lesscss.org/ dark theme
Ported to CodeMirror by Peter Kroon
*/
.cm-s-lesser-dark .cm-editor {
  line-height: 1.3em;
}

.cm-s-lesser-dark .cm-editor,
.cm-content,
.cm-completionLabel {
  font-family: "Roboto Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", Courier, monospace !important;
}

.cm-s-lesser-dark {
  background: #1e1e1e;
  color: #ebefe7;
  text-shadow: 0 -1px 1px #262626;
  padding-bottom: 90px;
}

.cm-s-lesser-dark div.cm-selected {
  background: #45443b !important;
} /* 33322B*/
.cm-s-lesser-dark .cm-cursor {
  border-left: 1px solid white !important;
}

.cm-s-lesser-dark .cm-lines {
  margin-left: 3px;
  margin-right: 3px;
} /*editable code holder*/

div.cm-editor span.cm-matchingBracket {
  color: #7efc7e;
} /*65FC65*/

.cm-s-lesser-dark .cm-gutter {
  background: #1e1e1e;
  padding-right: 3px;
  min-width: 2.5em;
}

.cm-s-lesser-dark .cm-gutterText {
  color: #777;
}

.cm-s-lesser-dark span.cm-keyword {
  color: #569cd6;
}

.cm-s-lesser-dark span.cm-atom {
  color: #c2b470;
}

.cm-s-lesser-dark span.cm-number {
  color: #b35e4d;
}

.cm-s-lesser-dark span.cm-def {
  color: #dcdcaa;
}

.cm-s-lesser-dark span.cm-variable {
  color: #dcdcaa;
  font-style: normal;
}

.cm-s-lesser-dark span.cm-variable-2 {
  color: #669199;
}

.cm-s-lesser-dark span.cm-variable-3 {
  color: white;
}

.cm-s-lesser-dark span.cm-property {
  color: #dcdcaa;
}

.cm-s-lesser-dark span.cm-operator {
  color: #92a75c;
}

.cm-s-lesser-dark span.cm-comment {
  color: #666;
}

.cm-s-lesser-dark span.cm-string {
  color: #fc8181;
}

.cm-s-lesser-dark span.cm-string-2 {
  color: #f50;
}

.cm-s-lesser-dark span.cm-meta {
  color: #738c73;
}

.cm-s-lesser-dark span.cm-error {
  color: #9d1e15;
}

.cm-s-lesser-dark span.cm-qualifier {
  color: #555;
}

.cm-s-lesser-dark span.cm-builtin {
  color: #ff9e59;
}

.cm-s-lesser-dark span.cm-bracket {
  color: #ebefe7;
}

.cm-s-lesser-dark span.cm-tag {
  color: #669199;
}

.cm-s-lesser-dark span.cm-attribute {
  color: #00c;
}

.cm-s-lesser-dark span.cm-header {
  color: #a0a;
}

.cm-s-lesser-dark span.cm-quote {
  color: #090;
}

.cm-s-lesser-dark span.cm-hr {
  color: #999;
}

.cm-s-lesser-dark span.cm-link {
  color: #00c;
}
