@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./partials/typography.css";
@import "./partials/buttons.css";
@import "./partials/cards.css";
@import "./partials/forms.css";
@import "./partials/grid_logos.css";
@import "./partials/header.css";
@import "./partials/shadows.css";
@import "./partials/tags.css";
@import "./partials/governance.css";


@import "./other/syntax.css";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background-default text-body-600;
  font-family: "Inter", sans-serif;
}

.container-fluid {
  @apply max-w-7xl w-full mx-auto px-6;
}

.container-fluid.wide {
  max-width: 1440px;
}

.bg-pattern {
  background-image: url("/img/bg-pattern.jpg");
  background-size: cover;
}

.bg-pattern h2 {
  background: -webkit-linear-gradient(left, #ff9a9e, #fad0c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.gradient {
  background: -webkit-linear-gradient(left, #EFA4F2,#0076ff, #62A8FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  max-width: 100vw;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(even) div:first-child {
  background: #d23e3e14;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(odd) div:first-child {
  background: #4784ec14;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(3n + 0) div:first-child {
  background: #a72f2014;
}

.intro-section-simple {
  background: url("/img/innerbottombg.png") left bottom no-repeat, url("/img/innertopbg.png") right top no-repeat;
  @apply pt-48 pb-24 -mt-20;
}

.intro-section-simple p {
  @apply text-body-400 lg:text-lg;
}

.divider span {
  width: 7px;
  height: 7px;
}

.workshop-divider {
  width: 2px;
}

.mySwiper2 {
  width: 793px;
}

.codebox {
  height: 462px;
}

.code-preview {
  font-family: "Menlo", monospace;
}
.code-blue {
    color: #569CD6;
}
.code-yellow {
    color: #DCDCAA;
}
.code-red {
    color: #FC8181;
}
.code-orange {
    color: #FABD2F;
}
.output-bg {
    background: rgba(39, 39, 39, 1);
}

.prose a {
  @apply text-primary-600 no-underline;
  font-weight: bold;
}

.prose a:hover {
  @apply underline;
}

.sidebar a.active {
  @apply text-primary-600 bg-primary-100;
}

table a:hover {
  @apply underline;
}

.right-sidebar a:hover {
  @apply text-body-600 underline;
}

.news-stories button:hover {
  @apply border-primary-600 text-primary-600;
}

.news-stories button:hover i {
  @apply text-primary-600;
}

.top-level-container .prose ul li::before {
  display: none;
}

footer a:hover {
  @apply text-primary-600;
}

[x-cloak] {
  display: none !important;
}

.link-orange {
  @apply text-primary-600 hover:underline;
}

.page-toc li a {
  @apply font-semibold text-body-600 text-sm mb-4 block;
}

.page-toc li li li {
  @apply ml-4;
}

pre {
  max-width: 100%;
}

summary::marker {
  position: relative;
  left: 4px;
}

.header-black {
    background: #171717;
}

.code-editor {
    height: calc(100vh - 80px);
}

.code-preview {
    height: calc(100% - 80px);
}

.output-container {
    height: calc(100% - 60px);
}

.our-team {
  background: linear-gradient(270deg, #0B1528 0%, rgba(11, 21, 40, 0.958333) 53.65%, #0B1528 100%);
}
.our-team button {
  border: 1px solid #fff;
  color: #fff;
  opacity: 0.6;
}


.navmap:hover ul {
  border-color: gainsboro;
}

.no-expand, .icon-expand  {
  white-space:nowrap;
  display:flex;
  flex-wrap: nowrap;
}

.icon-expand {
  cursor: pointer;
}

span.icon-expand:not(.open) > .navmap-tag , span.no-expand > .navmap-tag {
  background:white;
}

.navmap-tag {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:2.1em;
  min-width:2.1em;
  margin:3px 0;
  padding:2px 1px;
  line-height:1;
  margin-right:6px;
  font-family: Inter, sans-serif;
  border-width: 2px;
  border-radius: 0.25em;
  font-weight:bold;
  font-size: .875rem;
  box-sizing: border-box;
}

.navmap-tag.library-tag::after {
  content: "lib";
}
.library-tag {
  color: slategray;
  background-color: slategray;
  border-color: slategray;
}
.navmap-tag.module-tag::after {
  content: "M";
}
.module-tag {
  color: #f97316;
  background-color: #f97316;
  border-color: #f97316;
}
.navmap-tag.module-type-tag::after {
  content: "Mt";
}
.module-type-tag{
  color: rgb(218, 17, 17);
  background-color: rgb(218, 17, 17);
  border-color: rgb(218, 17, 17);
}
.navmap-tag.argument-tag::after {
  content: "P";
}
.argument-tag{
  color: green;
  background-color: green;
  border-color: green;
}
.navmap-tag.class-tag::after {
  content: "C";
}
.class-tag{
  color: rgb(24, 103, 194);
  background-color: rgb(24, 103, 194);
  border-color: rgb(24, 103, 194);
}
.navmap-tag.class-type-tag::after {
  content: "Ct";
}
.class-type-tag{
  color: rgb(77, 48, 204);
  background-color: rgb(77, 48, 204);
  border-color: rgb(77, 48, 204);
}

.breadcrumbs-tag {
  padding:2px 6px;
  line-height:1;
  margin-right:6px;
  font-family: Inter, sans-serif;
  border-width: 2px;
  border-radius: 0.25em;
  font-weight:bold;
  font-size: 1rem;
  box-sizing: border-box;
  color:white;
  align-items: center;
  display:flex;
}

span.no-expand > .navmap-tag {
  margin-left: 12px;
}

span.icon-expand.open > .navmap-tag {
  color:white;
}

span.icon-expand::before {
  font-weight: bold;
  content: " \25B8";
  text-align: center;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  padding-right:4px;
}

span.icon-expand.open::before {
  content: " \25BE";
}
