@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'partials/typography.css';
@import 'partials/buttons.css';
@import 'partials/form.css';
@import 'partials/tags.css';
@import 'partials/card.css';
@import 'partials/shadows.css';
@import 'partials/header.css';

@import 'pages/industrial-users.css';

@import 'other/doc.css';
@import 'other/syntax.css';
@import 'other/toplevel.css';
@import 'other/modifiers.css';

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-background-default text-body-600;
    font-family: "Inter", sans-serif;
}

.container-fluid {
    @apply max-w-7xl w-full mx-auto px-6;
}

.container-fluid.wide {
    max-width: 1440px;
}

.bg-pattern {
    background-image: url("/img/bg-pattern.jpg");
    background-size: cover;
}

.bg-pattern  h2 {
    background: -webkit-linear-gradient(left, #FF9A9E, #FAD0C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.swiper {
    max-width: 100vw;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(even) div:first-child {
    background: #D23E3E14;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(odd) div:first-child {
    background: #4784EC14;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(3n+0) div:first-child {
    background: #A72F2014;
}

.intro-section-simple {
    background: url("/img/innerbottombg.png") left bottom no-repeat, url("/img/innertopbg.png") right top no-repeat;
    @apply pt-48 pb-24 -mt-20;

}

.intro-section-simple p {
    @apply text-body-400 lg:text-lg;
}

.divider span {
    width: 7px;
    height: 7px;
}

.workshop-divider {
    width: 2px;
}

.mySwiper2 {
    width: 793px;
}

.codebox {
    height: 462px;
}

.code-preview {
    font-family: 'Menlo', monospace;
}
.code-blue {
    color: #569CD6;
}
.code-yellow {
    color: #DCDCAA;
}
.code-red {
    color: #FC8181;
}
.code-orange {
    color: #FABD2F;
}
.output-bg {
    background: rgba(39, 39, 39, 1);
}

.prose a {
    @apply text-primary-600 no-underline;
}

.prose a:hover {
    @apply underline;
}

.sidebar a.active {
    @apply  text-primary-600 bg-primary-100;
}

table a:hover{
    @apply underline;
}

.right-sidebar a:hover {
    @apply text-body-600 underline;
}

.news-stories button:hover {
    @apply border-primary-600 text-primary-600;
}

.news-stories button:hover i {
    @apply text-primary-600;
}

.top-level-container .prose ul li::before {
    display: none;
}

footer a:hover {
    @apply text-primary-600;
}

[x-cloak] { display: none !important; }

.link-orange {
    @apply text-primary-600 hover:underline;
}


.page-toc li a {
    @apply font-semibold text-body-600 text-sm mb-4 block;
}

.page-toc li li li {
    @apply ml-4;
}

pre {
    max-width: 100%;
}

summary::marker {
    position: relative;
    left: 4px;
}

.header-black {
    background: #171717;
}
