@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./partials/buttons.css";
@import "./partials/cards.css";
@import "./partials/forms.css";
@import "./partials/grid_logos.css";
@import "./partials/header.css";
@import "./partials/shadows.css";
@import "./partials/tags.css";
@import "./partials/typography.css";

@import "./other/syntax.css";

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  @apply bg-background-default text-body-600;
  font-family: "Inter", sans-serif;
}

.container-fluid {
  @apply max-w-7xl w-full mx-auto px-6;
}

.container-fluid.wide {
  max-width: 1440px;
}

.bg-pattern {
  background-image: url("/img/bg-pattern.jpg");
  background-size: cover;
}

.bg-pattern h2 {
  background: -webkit-linear-gradient(left, #ff9a9e, #fad0c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  max-width: 100vw;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(even) div:first-child {
  background: #d23e3e14;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(odd) div:first-child {
  background: #4784ec14;
}

.testimonials .swiper-wrapper .swiper-slide:nth-child(3n + 0) div:first-child {
  background: #a72f2014;
}

.intro-section-simple {
  background: url("/img/innerbottombg.png") left bottom no-repeat, url("/img/innertopbg.png") right top no-repeat;
  @apply pt-48 pb-24 -mt-20;
}

.intro-section-simple p {
  @apply text-body-400 lg:text-lg;
}

.divider span {
  width: 7px;
  height: 7px;
}

.workshop-divider {
  width: 2px;
}

.mySwiper2 {
  width: 793px;
}

.codebox {
  height: 462px;
}

.code-preview {
  font-family: "Menlo", monospace;
}
.code-blue {
    color: #569CD6;
}
.code-yellow {
    color: #DCDCAA;
}
.code-red {
    color: #FC8181;
}
.code-orange {
    color: #FABD2F;
}
.output-bg {
    background: rgba(39, 39, 39, 1);
}

.prose a {
  @apply text-primary-600 no-underline;
}

.prose [id] {
  scroll-margin-top: 2rem;
}

.prose :is(h1, h2, h3, h4, h5, h6) > a,
.prose :is(h1, h2, h3, h4, h5, h6) > a code,
.prose :is(h1, h2, h3, h4, h5, h6) > a:hover,
.prose :is(h1, h2, h3, h4, h5, h6) > a:hover code {
  color: unset;
  @apply no-underline;
}

.prose :is(h1:target, h2:target, h3:target, h4:target, h5:target, h6:target) {
  position:relative;
  background:rgb(255, 243, 173);
  padding: 0.2rem 0rem;
}

.prose :is(h1, h2, h3, h4, h5, h6) > a:hover::before,
.prose :is(h1, h2, h3, h4, h5, h6) > a:hover code::before {
  content: "#";
  position: absolute;
  color: rgb(90, 98, 111);
  margin-left: -1.2em;
  padding: 0.39em;
  margin-top: -.37em;
  font-weight: 500;
}

.prose a:hover {
  @apply underline;
}

.sidebar a.active {
  @apply text-primary-600 bg-primary-100;
}

table a:hover {
  @apply underline;
}

.right-sidebar a:hover {
  @apply text-orange-600;
}

.news-stories button:hover {
  @apply border-primary-600 text-primary-600;
}

.news-stories button:hover i {
  @apply text-primary-600;
}

.top-level-container .prose ul li::before {
  display: none;
}

footer a:hover {
  @apply text-primary-600;
}

[x-cloak] {
  display: none !important;
}

.link-orange {
  @apply text-primary-600 hover:underline;
}

.page-toc li a {
  @apply font-semibold text-body-600 text-sm mb-4 block;
}

.page-toc li li li {
  @apply ml-4;
}

pre {
  max-width: 100%;
}

summary::marker {
  position: relative;
  left: 4px;
}

.header-black {
    background: #171717;
}

.code-editor {
    height: calc(100vh - 80px);
}

.code-preview {
    height: calc(100% - 80px);
}

.output-container {
    height: calc(100% - 60px);
}
