# Yarn
yarn-error.log

# macOS
.DS_Store

# Vim
*.swp
*.swo

# Node
node_modules/

# Next.js
.next/
out

# ReScript
.bsb.lock
.merlin
/lib/bs/
/bindings/*.js
/common/*.js
/components/*.js
/layouts/*.js
/res_pages/**/*.js

# VSCode
.vscode/*
~.vscode/extensions.json