@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  background: #11141a;
  padding: 48px 24px;
}

body {
  background: #191e26;
  color: #ffffff;
}

.cards {
  background: linear-gradient(3.1deg, rgba(0, 0, 0, 0.1) 2.66%, rgba(0, 0, 0, 0) 97.56%), #252f3f;
  padding: 24px 32px;
}

th,
td {
  padding-bottom: 16px;
}

.analytics-container th,
.analytics-container td {
  padding-bottom: 37px;
}

.text-primary {
  color: #18bdfb;
}

.active {
  color: #ffffff;
  background-color: #292b30;
}
