/* different page section backgrounds from Figma */
@layer utilities {
  .section-mild-contrast {
    background: url("/img/innerbottombg.png") left bottom no-repeat, url("/img/innertopbg.png") right top no-repeat;
    @apply bg-sand border-b border-t;
  }
  .dark-section-mild-contrast{
    background: url("/img/innerbottombg.png") left bottom no-repeat, url("/img/innertopbg.png") right top no-repeat;
    @apply bg-mild_blue border-b border-t;
  }
  .dark-section-strong-contrast {
    background: linear-gradient(45deg, #010105, #10162D);
    @apply border-none;
  }

  .dark-blue-section-mild-contrast {
    background: url("/img/innerbottombg.png") left bottom no-repeat, url("/img/innertopbg.png") right top no-repeat, linear-gradient(273deg, rgba(14, 25, 62, 0.90) -0.63%, #0E193E 98.13%);;
  }

  .pkg-section-mild-contrast {
    background: url("/img/innerbottombg.png") left bottom no-repeat, url("/img/innertopbg.png") right top no-repeat;
    @apply bg-sand border-b border-t;
  }

  .dark-no-mild-contrast {
    background: none;
    @apply border-none;
  }

  .section-blue-gradient {
    background: linear-gradient(45deg, #0B1228, #0F264F);
    @apply border-none;
  }

  .dark-section-blue-gradient {
    background: linear-gradient(45deg, #022E50, #0063A8);
    @apply border-none;
  }

  .intro-section-simple {
    background: url("/img/innerbottombg.png") left bottom no-repeat, url("/img/innertopbg.png") right top no-repeat;
    @apply pt-16 pb-16 bg-sand;
  }

  .dark-intro-section-simple {
    background: linear-gradient(45deg, #010105, #10162D);
    @apply pt-16 pb-16;
  }

  .dark-section-navigation {
    background: none;
    @apply pt-16 pb-16 bg-dark-background_navigation;
  }
 .deep-blue-gradient {
  background: linear-gradient(45deg, #0B1229, #0F254C);
  @apply border-none;
 }

 .dark-deep-blue-gradient {
  background: linear-gradient(45deg, #0B1228, #0E254E);
  @apply border-none;
}
}