@layer components {
  .btn {
    @apply rounded bg-primary border border-primary font-normal text-lg text-white whitespace-nowrap transition-colors inline-flex items-center justify-center space-x-3 dark:border-dark-primary dark:bg-dark-primary dark:text-dark-white;
  }

  .btn {
    @apply px-7 h-11;
  }

  .btn-lg {
    @apply px-7 h-16 space-x-4;
  }

  .btn-sm {
    @apply px-5 h-8 text-sm;
  }

  .btn:active {
    @apply bg-primary_dark;
  }

  .btn:hover {
    @apply bg-primary_dark border-primary_dark;
  }

  .btn-secondary {
    @apply bg-secondary border-secondary;
  }

  .btn-secondary:hover {
    @apply bg-secondary_bt_hover border-secondary_bt_hover;
  }

  .btn-secondary:active {
    @apply bg-secondary_bt_hover;
  }

  .btn-tertiary {
    @apply bg-tertiary border-tertiary;
  }

  .btn-tertiary:hover {
    @apply bg-tertiary_bt_hover border-tertiary_bt_hover;
  }

  .btn-tertiary:active {
    @apply bg-tertiary_bt_hover;
  }

  .btn-transparent {
    @apply rounded font-normal text-lg text-white whitespace-nowrap transition-colors inline-flex items-center justify-center space-x-3 dark:text-dark-white px-4 py-2 hover:border-primary dark:hover:border-dark-primary hover:text-primary dark:hover:text-dark-primary;
  }

  .btn-ghost {
    @apply bg-transparent dark:bg-transparent border-primary text-primary dark:border-white dark:text-white border text-base font-semibold;
  }
  .btn-ghost:hover {
    @apply text-white bg-primary border-primary dark:border-white dark:bg-white dark:text-black;
  }

  .btn-ghost:active {
    @apply text-white bg-primary_dark;
  }
}
