@layer utilities {
  .resources-card {
    @apply rounded-xl py-12 px-8 text-white bg-opacity-5 bg-legacy-default dark:bg-legacy-dark-default transform hover:scale-105 transition-transform;
  }
  
  .legacy-card-hover {
    @apply transform hover:scale-105 transition-transform;
  }
  
  .card {
    @apply bg-white drop-shadow hover:shadow-[0px_0px_12px_0px_#00000080] rounded-2xl border;
  }
  
  .dark-card {
    @apply bg-dark-card drop-shadow hover:bg-dark-card_hover hover:shadow-[0px_0px_12px_0px_#00000050] rounded-2xl border;
  }
}