.governance-contrast-section {
  background: linear-gradient(
    270deg,
    #0b1528 0%,
    rgba(11, 21, 40, 0.958333) 53.65%,
    #0b1528 100%
  );
}

.governance-contrast-section button {
  border: 1px solid #fff;
  color: #fff;
  opacity: 0.6;
}

.governance-contrast-section .gradient {
  background: -webkit-linear-gradient(left, #efa4f2, #0076ff, #62a8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
