/* all search inputs */

.header__search__input:focus,
.packages_search__search__input:focus
.packages__search__input:focus {
  box-shadow: none;
}

/* search dropdown */

.header__search__dropdown{
  display:none;
}

.header__search:focus-within input {
  border-bottom-left-radius: 0;
}

.header__search:focus-within button {
  border-bottom-right-radius: 0;
}

.header__search:focus-within .header__search__dropdown {
  display:block;
}