#header-search-indicator,
#packages-search-indicator {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#header-search-indicator.htmx-request ,
#packages-search-indicator.htmx-request {
  opacity: 1;
}
