pin-depends: [
  ["esbuild.dev" "git+https://github.com/tmattio/opam-esbuild#7738af5912cc9f554d31da81d2334e88052102fb"]
  ["code-mirror.dev" "git+https://github.com/patricoferris/jsoo-code-mirror#8fe48910e265ff87f9fc94ceb7b3d19fac102a96"]
  ["merlin-js.dev" "git+https://github.com/tmattio/merlin-js#74edff465942cc4f0b3b51b3f8264db53a460aa2"]
  ["js-top-worker.dev" "git+https://github.com/tmattio/js_top_worker#6110d50db0ce8577e6d662fa06d5ae9cc0c95ea1"]
]
