span[class*="keyword"] {
  color: #879a39;
}

span[class*="constant"] {
  color: #d0a215;
}

span[class*="function-binding"] {
  color: #da702c;
}

span[class*="variable"] {
  color: #4385be;
  font-style: italic;
}

span[class*="support"] {
  color: #0184bc;
}

span[class*="comment"] {
  color: #6f6e69;
  font-style: italic;
}

span[class*="literal"] {
  color: #50a14f;
}

span[class*="string"] {
  color: #3aa99f;
}

span[class*="numeric"] {
  color: #8b7ec8;
}

/* Diff */

.diff-punctuation-definition-deleted {
  color: #ffdcd7;
  background-color: #67060c;
}

.diff-punctuation-definition-inserted {
  color: #aff5b4;
  background-color: #033a16;
}

.diff-markup-deleted {
  color: #ffdcd7;
  background-color: #67060c;
}

.diff-markup-inserted {
  color: #aff5b4;
  background-color: #033a16;
}
