span[class*="keyword"] {
  color: #A626A4;
}

span[class*="constant"] {
  color: #986801;
}

span[class*="function-binding"] {
  color: #4078F2;
}

span[class*="variable"] {
  color: #4078F2;
  font-style: italic;
}

span[class*="support"] {
  color: #0184BC;
}

span[class*="comment"] {
  color: #A0A1A7;
  font-style: italic;
}

span[class*="literal"] {
  color: #50A14F;
}

span[class*="string"] {
  color: #50A14F;
}

span[class*="numeric"] {
  color: #986801;
}


/* Diff */

.diff-punctuation-definition-deleted {
  color: #ffdcd7;
  background-color: #67060c;
}

.diff-punctuation-definition-inserted {
  color: #aff5b4;
  background-color: #033a16;
}

.diff-markup-deleted {
  color: #ffdcd7;
  background-color: #67060c;
}

.diff-markup-inserted {
  color: #aff5b4;
  background-color: #033a16;
}
