span[class*="keyword"] {
  color: #879A39;
}

span[class*="constant"] {
  color: #D0A215;
}

span[class*="function-binding"] {
  color: #DA702C;
}

span[class*="variable"] {
  color: #4385BE;
  font-style: italic;
}

span[class*="support"] {
  color: #0184BC;
}

span[class*="comment"] {
  color: #6F6E69;
  font-style: italic;
}

span[class*="literal"] {
  color: #50A14F;
}

span[class*="string"] {
  color: #3AA99F;
}

span[class*="numeric"] {
  color: #8B7EC8;
}


/* Diff */

.diff-punctuation-definition-deleted {
  color: #ffdcd7;
  background-color: #67060c;
}

.diff-punctuation-definition-inserted {
  color: #aff5b4;
  background-color: #033a16;
}

.diff-markup-deleted {
  color: #ffdcd7;
  background-color: #67060c;
}

.diff-markup-inserted {
  color: #aff5b4;
  background-color: #033a16;
}
