name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

jobs:
  build:
    name: Build and test

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - ocaml-base-compiler.4.11.2
        # Add windows once Dream does not depend on `conf-libev`
        # include:
        #   - os: windows-latest
        #     ocaml-compiler: ocaml-variants.4.11.2+mingw64c

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: avsm/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: ${{ matrix.os != 'macos-latest' }}

      - run: opam install . --deps-only --with-test

      - run: npm ci

      - run: make build

      - run: make test

  lint-fmt:
    strategy:
      matrix:
        ocaml-compiler:
          - ocaml-base-compiler.4.11.2

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: avsm/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true

      - run: opam install ocamlformat.0.19.0

      - run: opam install . --deps-only

      - run: make fmt
