name: Scrape (OCaml Planet)

on:
  workflow_dispatch:
  schedule:
    # Run every day
    - cron: 36 5 * * *

jobs:
  scrape:
    name: Run Scrapers
    if: github.event_name != 'schedule' || github.repository == 'ocaml/ocaml.org'

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - "5.2.0"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: ${{ matrix.os != 'macos-latest' }}
          opam-repositories: |
            pin: git+https://github.com/ocaml/opam-repository#584630e7a7e27e3cf56158696a3fe94623a0cf4f
          opam-disable-sandboxing: true

      - name: Install system dependencies
        run: sudo apt update && sudo apt-get install libev-dev libonig-dev libcurl4-openssl-dev

      - name: Install opam dependencies
        run: opam install --deps-only --with-test .

      - name: Build scraper
        run: |
          opam exec -- dune build tool/ood-gen/bin/scrape.exe

      - name: Run scrapers
        run: |
          make scrape_ocaml_planet \
            COMMIT_FILE=_scrape_commit.md \
            REPORT_FILE=_scrape_report.md

      - name: Read commit message
        id: scrape
        run: |
          { echo "msg<<EOF"; cat _scrape_commit.md; echo "EOF"; } >> "$GITHUB_OUTPUT"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          title: '[scrape] New OCaml Planet posts'
          commit-message: ${{ steps.scrape.outputs.msg }}
          body-path: _scrape_report.md
          labels: scrape
          branch: create-pull-request/patch-scrape-planet
          add-paths: |
            data/video-watch.yml
            data/video-youtube.yml
            data/planet/*/*.md
