name: Scrape (OCaml Planet)

on:
  workflow_dispatch:
  schedule:
    # Run every day
    - cron: 36 5 * * *

jobs:
  scrape:
    name: Run Scrapers

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - "5.2.0"

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Use Dune Developer Preview
        uses: ocaml-dune/setup-dune@v0

      - name: Install system dependencies
        run: sudo apt update && sudo apt-get install libev-dev libonig-dev libcurl4-openssl-dev

      - name: Run scrapers
        run: |
          make scrape_ocaml_planet

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          title: '[scrape.yml] New OCaml blog posts and videos'
          labels: scrape
          add-paths: |
            data/video-watch.yml
            data/video-youtube.yml
            data/planet/*/*.md
          commit-message: |
            [scrape.yml] New OCaml Planet blog posts and videos
